<section id="registro" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div class="card_registro">
            <div class="card">
              <div class="card-body text-center">
                <form action="">
                  <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
                  
                  <div class="form-group">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" required>
                  </div>

                  <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                  </div>

                  <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                  </div>
                  
                  <button type="submit" class="btn btn-large btn-primary btn-block">Registrar</button>

                  <div class="form-group">
                      <a routerLink="/user/login" class="Form-control">Ya ties cuenta?</a>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
